.root {
    -fx-background-color: #F5F5F5;
}

.welcome-text {
    -fx-font-size: 24px;
    -fx-font-family: "Arial Black";
    -fx-fill: #333333;
}

#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
